<nav class="navbar navbar-light">
  <div class="container">
      <a class="navbar-brand"  [routerLink]="['/']">conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link"  [routerLink]="['/', 'create']" [queryParams] = "{a:1, b: 'xx'}">
                  <i class="ion-compose"></i>&nbsp;New Post
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/', 'login']">Sign in</a>
          </li>
      </ul>
  </div>
</nav>
