<div class="editor-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <form [formGroup] = "post">
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Post Title" formControlName = "title">
            <div *ngIf="title.dirty && title.invalid">
              <span *ngIf="title.errors['required']">請輸入標題</span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <textarea class="form-control" rows="8" placeholder="Write your post (in markdown)" formControlName = "body"></textarea>
            <div *ngIf="body.dirty && body.invalid">
              <span *ngIf="body.errors['required']">請輸入內文</span>
              <span *ngIf="body.errors['minlength']">內文至少 10 個字</span>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <input class="form-control" type="text" placeholder="Enter tags" #tag (keyup.enter)="addTag(tag.value)">

            <div class="tag-list" formArrayName = "tags">
              <span class="label label-pill label-default" *ngFor="let tag of tags.controls; let index = index">
                <i class="ion-close-round" (click) = "removeTag(index)"></i> {{tag.value}}

              </span>
            </div>

            <div class="tag-list" formArrayName = "tags">
              <span class="label label-pill label-default" *ngFor="let tag of tags.controls; let index = index">
                <input type="text" [formControlName] = "index">

              </span>
            </div>
          </fieldset>

          <section formGroupName="seo">
            <fieldset class="form-group">
              <input class="form-control" type="text" placeholder="Meta tags" formControlName="meta">
            </fieldset>
          </section>

          <button type="button" class="btn btn-lg btn-primary pull-xs-right" (click) = "createPost()">
            Create Post
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
