<div class="modal-content">
  <div class="modal-content">
    <div class="modal-header bg-info text-white">
      <h5 class="modal-title">筆錄範本</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngFor="let item of list">
        <div class="card">
          <div class="card-header bg-info text-white h5">
            {{item.question}}
          </div>
          <div class="card-body">

            <div class="container" dragula="DRAGULA_AREA" [(dragulaModel)]='a1' id="source">

              <!-- <div class="row"> -->
                <div class = "inline" *ngFor='let o of a1'>

                    <button type="button" class="btn btn-secondary">
                      {{o.text}}
                    </button>

                </div>
              <!-- </div> -->

            </div>
            <br>
            <hr>
            <div>
              <div class="wrapper">
                <div class="container main" dragula="DRAGULA_AREA" [(dragulaModel)]='item.answer'>

                  <div *ngFor="let ans of item.answer;let index= index">

                    <div class="row">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary">
                          {{ans.text}}
                        </button>
                      </div>

                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text" id="btnGroupAddon" (click)="remove(item.answer, index)">@</div>
                        </div>
                        <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon"
                          [(ngModel)]="ans.inputValue">
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <br><br><br>
            <div class="wrapper">
              <div class="container sub">
                <div *ngFor="let ans of item.answer">
                  <div class="row">
                    <div *ngIf="ans.value === 'label'">
                      <label>{{ans.inputValue}}</label>
                    </div>
                    <div *ngIf="ans.value === 'br'">
                      <br>
                    </div>
                    <div *ngIf="ans.value === 'strNum'">
                      <input type="text" class="form-control" [value]="ans.inputValue">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
        <i class="fas fa-times"></i> 關閉
      </button>
      <button type="button" class="btn btn-outline-primary">
        <i class="fas fa-search"></i> 預覽
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="fas fa-save"></i> 存檔
      </button>
    </div>
  </div>
</div>
